```
10미만의 자연수에서 3과 5의 배수를 구하면 3,5,6,9이다. 이들의 총합은 23이다.

1000미만의 자연수에서 3,5의 배수의 총합을 구하라.
```

https://codingdojang.com/scode/350?langby=python#answer-filter-area

배수는 몫을 활용하여 구할 수 있다.

In [82]:
sum([x for x in range(1000) if x%3==0 or x%5==0])

233168

set을 사용하여 구할 수 있다.

In [92]:
for x in range(3, 20, 3):
    print(x)

3
6
9
12
15
18

In [91]:
for x in range(5, 20, 5):
    print(x)

5
10
15

As you can see above, there are duplicated numbers so we have to make it clear using set

In [96]:
x = set(range(3, 20, 3))

In [97]:
y = set(range(5, 20, 5))

In [98]:
x, y

({3, 6, 9, 12, 15, 18}, {5, 10, 15})

In [99]:
x | y

{3, 5, 6, 9, 10, 12, 15, 18}

In [100]:
sum(x|y)

78

In [103]:
x = set(range(3, 1000, 3))
y = set(range(5, 1000, 5))

sum(x|y)

233168